# Ignore node_modules for React frontend
/frontend_react/node_modules
/frontend_react/build

# Ignore npm log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore dotenv environment variables file
/frontend_react/.env
/frontend_react/.env.local
/frontend_react/.env.development.local
/frontend_react/.env.test.local
/frontend_react/.env.production.local

# Ignore Spring Boot target directory and logs
/backend/target/
*.log

# Ignore Maven build files
/backend/.mvn
/backend/mvnw
/backend/mvnw.cmd
/backend/pom.xml.tag
/backend/pom.xml.releaseBackup

# Ignore Gradle build files
/backend/.gradle
/backend/build/

# Ignore IDEA project files
.idea/
*.iml

# Ignore Eclipse project files
.project
.classpath
.settings/

# Ignore VS Code directories
.vscode/

# Ignore Mac system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore build directories
/build/
/dist/
/out/
